body {background-color:#CCE5E5;}

input[type=text]
{
    background-color: #BFBDBD;
    border:solid 1px #BFBDBD;
    color: #000000;
    height: 28px;
    padding-left:10px;
    width: 191px;
    box-shadow: 2px 2px 0 #828181 inset;
}
input[type=button]
{
    background-color: #1E1E1E;
    color: #979797;
    height: 24px;
    width: 103px;
    color: #bbbbbb;
    text-transform:uppercase;
    box-shadow:-1px 2px #6E6B6A inset;
}

input[type=button], input[type=text]
{
    border: 0;
    border-radius:5px;
    font-family: Sansation,Arial;
}
table {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table th {
    background: #b5cfd2 url('cell-blue.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    /*background-color: #dedede;*/
}
table td {
    background: #dcddc0 url('cell-grey.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    /*background-color: #ffffff;*/
}